html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(23, 29, 27);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 20%;
    background: linear-gradient(#01D1FF,#007DC7);
    padding: 10px 0px;
}

ul{
    padding: 0px;
    list-style-type: none;
    margin: 0;
}

li{
    text-align: center;
    margin: 10px 0px;
    padding: 10px 0px;
}
li a{
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    
}

li:hover{
    background-color:#ffffff69;
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}

.main .header img{
    width: 100%;
    height: 100%;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.main .content h1{
    justify-self: center;
}

.content p{
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.main .content img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.main .content ul {          
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: flex-start;
}

.main .content h1{
    margin: 0px;
}

.main .content table{
    width: 100%;
    height: 100%;
}
.main .content table thead{
    background-color: #007DC7;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #007DC7;
    min-height: 1px;
}

.footer small{
    color: #fff;
    font-size: 1.2rem;
}