html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(23, 29, 27);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 20%;
    background: linear-gradient(#01D1FF,#007DC7);
    padding: 10px 0px;
}

ul{
    padding: 0px;
    list-style-type: none;
    margin: 0;
}

li{
    text-align: center;
    margin: 10px 0px;
    padding: 10px 0px;
}
li a{
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    
}

li:hover{
    background-color:#ffffff69;
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}

.main .header img{
    width: 100%;
    height: 100%;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.main .content h1{
    justify-self: center;
}

.content p{
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.main .content img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.main .content ul {          
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: flex-start;
}

.main .content h1{
    margin: 0px;
}

.main .content table{
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}
.main .content table thead{
    background-color: #007DC7;
    color: #fff;
}

.main .content iframe{
    border: 5px solid #007DC7;
}

.main .content form{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.main .content form fieldset{
    font-family: monospace;
    font-size: 1rem;
    margin: 10px;
    border: 2px solid #007DC7;
}

fieldset legend{
    font-family: monospace;
    font-size: 1.3rem;
}

fieldset input{
    width: 100%;
    box-sizing: border-box;
}

fieldset textarea{
    width: 100%;
}

.button{
    text-align: center;
}

.button button{
    margin: 10px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    box-shadow: 8px 8px 8px -7px black;
    text-shadow: 0px 1px 0px #000000;
    font-family: monospace;
    width: 5rem;
    height: 2rem;
}

.button .enviar{
    background-color: #007DC7;
}

.button .limpar{
    background-color: #911111be;
}

.content .endereco{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.endereco ul{
    border: 2px solid #007DC7;
}

.endereco ul li{
    margin: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #007DC7;
    min-height: 1px;
}

.footer small{
    color: #fff;
    font-size: 1.2rem;
}