
.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.icon-header{
    display: flex;
    width: 150px;
    align-items: center;
}

.icon-header .icon-menu{
    padding: 0px 15px;
}

.search{
    display: flex;
    align-items: center;
    width: 300px;
}

.search .input-search input{
    width: 300px;
    height: 40px;
    border-radius: 50px 0px 0px 50px;
    border-right: none;
    border: 1px solid #bdbdbd;
    padding-left: 10px;
    color: black;
    font-size: 16px;
    font-weight: 900;
}

.header .search .icon-search{
    align-content: center;
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 0px 50px 50px 0px;
    background-color: #d3d3d3;
    cursor: pointer;
}

.search .icon-search:hover{
    background-color: rgb(70, 70, 70);
    border-color: black;
}

.header .icons-yt{
    display: flex;
    justify-content: end;
    align-content: center;
    padding: 10px 10px;
    width: 100px;
    height: 40px;
    gap: 20px;
}


#icon{
    width:20px;
}


.container{
    display: flex;
    
}

.container .conteudo{
    display: flex;
    flex-direction: column;
    margin: 10px 20px 20px 80px;
    /* background-color: aqua; */
}

.container .conteudo .video{
    display: flex;

}

.container .subtitulo{
    margin: 20px 0px 20px 0px;
    font-size: 1.2rem;
    font-weight: 700;
}

.conteudo .channel{
    /* background-color: aqua; */
    display: flex;
    gap: 10px;
}



.channel .conteudo-avatar{
    align-content: center;
}

.channel .conteudo-avatar button{
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
}


.channel .button-inscrever{
    background-color: red;
    width: 200px;
    height: 100%;
    color: white;
    font-weight: 700;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.channel .button-like{
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.channel .button-like h1{
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.channel .button-deslike{
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.channel .button-deslike h1{
    margin-left: 10px;
}

.channel .button-compartilhar{
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.channel .button-compartilhar h1{
    margin-left: 10px;
}

.channel .button-download{
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    margin-left: 30px;
    cursor: pointer;
}

.channel .button-download h1{
    margin-left: 10px;
}

.conteudo .visualizacao-channel{
    margin: 20px 0px 20px 0px;
}

.conteudo .visualizacao-channel h1{
    font-size: 1rem;
}

.conteudo .sobre-video{
    display: flex;
    flex-direction: column;
}

.container aside{
    width: 600px;
}