@import url(./pokedex.css);

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(../images/folhas.jpg);
    object-fit: fill;
}

body  header{
    justify-content: center;
    width: 300px;
    height: 110px;
    padding: px;
    margin: 0;
}

body header img{
    width: 300px;
    padding: 0;
    margin: 0;
}

.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}


@media scream and (min-width: 992px){
     .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
     }
}

